body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: darkgrey;
}

.container{
    width: 400px;
    height: 75vh;
    margin: auto;
    border: 0.3px solid;
    margin-top: 7rem;
    border-radius: 0.3rem;
}

img{
    margin: auto;
    display: grid;
    place-items: center;
    width: 100%;
    object-fit: cover;
}

#line{
    display: flex;
    justify-content: center;
}

#line p{
    margin-top: 0;
}

p .a{
    word-spacing: 30px;
}

h2{
    font-weight: 1000;
    font-size: 2rem;
}

#text{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#text p{
    font-size: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

button{
    align-items: center;
    color: white;
    background-color: darkgrey;
    border-radius: 6px;
    padding: 1rem;
    width: 20rem;
    margin-left: 43px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.end{
    text-align: center;
}

@media screen and (max-width: 445px){
    .container{
        width: 350px;
    }

    button{
        margin-left: 17px;
    }
}

@media screen and (max-width: 394px){
    .container{
        width:320px;
    }

    button{
        width: 18rem;
    }
}
@media screen and (max-width: 348px){
    .container{
        width: 300px;
    }

    button{
        width: 17rem;
    }
}

@media screen and (max-width: 303px){
    .container{
        width: 280px;
    }

    button{
        width: 15rem;
        padding: 10px;
    }
}